<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- Первый сервлет -->
    <servlet>
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>firstServlet.TestServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Max</param-value>
        </init-param>
        <init-param>
            <param-name>age</param-name>
            <param-value>31</param-value>
        </init-param>
    </servlet>

    <!-- Сервлет-калькулятор -->
    <servlet>
        <servlet-name>calculatorServlet</servlet-name>
        <servlet-class>calculatorServlet.CalculatorServlet</servlet-class>
    </servlet>

    <!-- Сервлет проверки калькулятора -->
    <servlet>
        <servlet-name>checkCalculatorServlet</servlet-name>
        <servlet-class>calculatorServlet.CheckCalculatorServlet</servlet-class>
    </servlet>

    <!-- Сервлет отображения операций всех клиентов -->
    <servlet>
        <servlet-name>allSessionsOperations</servlet-name>
        <servlet-class>calculatorServlet.AllSessionsOperations</servlet-class>
    </servlet>

    <!-- Сервлет, отображающий изображения -->
    <servlet>
        <servlet-name>imageServlet</servlet-name>
        <servlet-class>library.servlets.ImageServlet</servlet-class>
    </servlet>

    <!-- Сервлет, отвечающий за отображение содержимого книги -->
    <servlet>
        <servlet-name>processContent</servlet-name>
        <servlet-class>library.servlets.ProcessContent</servlet-class>
    </servlet>

    <!-- Мэппинг первого сервлета -->
    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>

    <!-- Мэппинг сервлета-калькулятора -->
    <servlet-mapping>
        <servlet-name>calculatorServlet</servlet-name>
        <url-pattern>/calculator</url-pattern>
    </servlet-mapping>

    <!-- Мэппинг сервлета проверки калькулятора -->
    <servlet-mapping>
        <servlet-name>checkCalculatorServlet</servlet-name>
        <url-pattern>/checkCalculator</url-pattern>
    </servlet-mapping>

    <!-- Мэппинг сервлета отображения операций всех клиентов -->
    <servlet-mapping>
        <servlet-name>allSessionsOperations</servlet-name>
        <url-pattern>/allSessionsOperations</url-pattern>
    </servlet-mapping>

    <!-- Мэппинг сервлета вывода изображений -->
    <servlet-mapping>
        <servlet-name>imageServlet</servlet-name>
        <url-pattern>/imageServlet</url-pattern>
    </servlet-mapping>

    <!-- Мэппинг серлета, отвечающего за отображение содержимого книги -->
    <servlet-mapping>
        <servlet-name>processContent</servlet-name>
        <url-pattern>/processContent</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- Страницы по умолчанию -->
    <welcome-file-list>
        <welcome-file>/library/index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Страницы с ошибками -->
    <error-page>
        <error-code>404</error-code>
        <location>/errorPages/404.html</location>
    </error-page>

    <error-page>
        <error-code>400</error-code>
        <location>/errorPages/400.html</location>
    </error-page>

    <resource-ref>
        <res-ref-name>jdbc/library</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
